.landing-page {
  ul {
    gap: 80px;
  }
  .navbar {
    margin: 5px 30px 20px 30px;
  }
  .profile {
    h6 {
      font-family: Poppins;
      font-weight: 500;
      font-size: 18px;

      line-height: 100%;
      letter-spacing: 2%;
    }
  }
  .header {
    margin: 77px 77px 114px 114px;
    h5 {
      font-family: Poppins;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 24px;
    }
    span {
      font-family: Poppins;
      font-weight: 700;
      font-size: 24px;
      color: #49bbbd;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 24px;
    }
    h1 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 44px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #2f327d;
      margin-bottom: 14px;
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 24px;
      color: #696984;
      line-height: 180%;
      letter-spacing: 2%;
      margin-bottom: 25px;
    }
    button {
      width: 236px;
      height: 63px;
      border-radius: 12px;
      font-family: Poppins;
      font-weight: 700;
      font-size: 16px;
      color: white;
      line-height: 100%;
      letter-spacing: 0%;
      background-color: #49bbbd;
      border: none;
    }
  }
}
