.landing-page {
  ul {
    gap: 80px;
  }
  .navbar {
    margin: 0px 18px 0px 18px;
  }
  .profile {
    h6 {
      font-family: Poppins;
      font-weight: 500;
      font-size: 18px;

      line-height: 100%;
      letter-spacing: 2%;
    }
  }
  .header {
    background-color: #ebf5ff;
    padding: 77px 114px 77px 114px;
    h5 {
      font-family: Poppins;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 24px;
    }
    span {
      font-family: Poppins;
      font-weight: 700;
      font-size: 24px;
      color: #49bbbd;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 24px;
    }
    h1 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 44px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #2f327d;
      margin-bottom: 20px;
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 24px;
      color: #696984;
      line-height: 180%;
      letter-spacing: 2%;
      margin-bottom: 45px;
    }
    button {
      width: 236px;
      height: 63px;
      border-radius: 12px;
      font-family: Poppins;
      font-weight: 700;
      font-size: 16px;
      color: white;
      line-height: 100%;
      letter-spacing: 0%;
      background-color: #49bbbd;
      border: none;
    }
  }
}
.blog-list {
  margin: 77px 77px 114px 114px;
  .col-3 {
    position: relative;
    h4 {
      position: absolute;
      width: 219px;
      height: 60px;
      top: 237px;
      left: 80px;
      opacity: 70%;
      border-radius: 12px;
      background-color: #ffffff;
      font-family: Poppins;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 26px;
  }
}
.related-blog {
  background-color: #ebf5ff;
  padding: 90px 114px 90px 114px;
  .con {
    gap: 245px;
  }
  h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 123px;
  }
  .card-title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 26px;
    color: #252641;
    line-height: 180%;
    letter-spacing: 0%;
    margin-bottom: 20px;
  }
  .card-text {
    color: #696984;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 2%;
  }
  i {
    color: #49bbbd;
  }
  p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    color: #696984;
    line-height: 180%;
    letter-spacing: 2%;
    margin-top: 20px;
  }
  a {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    color: #696984;
    line-height: 180%;
    letter-spacing: 2%;
    margin-top: 30px;
  }
  .read-more {
    justify-content: space-between;
    margin-top: 40px;
  }
  .card {
    width: 42%;
    box-shadow: 0px 0px 35px -1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: relative;
  }
  .card-img-top {
    align-self: center;
    margin: 30px 0px 0px 0px;
    width: 87%;
  }
  .card-body {
    margin: 16px;
  }
  .carousel-control-prev {
    position: absolute;
    top: 100%;
    left: 78%;
  }
  .carousel-control-next {
    position: absolute;
    top: 100%;
    left: 83%;
  }
}
.marketing-articles {
  margin: 90px 114px 90px 114px;
  .card-img-top {
    width: 88%;
    align-self: center;
    padding-top: 18px;
  }
  .card {
    gap: 20px;
    box-shadow: 0px 0px 35px -1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  h6 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 2%;
    color: #696984;
  }
  .card-title {
    color: #252641;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 30px;
  }
  .card-text {
    color: #696984;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 2%;
    margin-bottom: 30px;
  }
  strike {
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
    text-decoration: line-through;
    color: #000000;
    opacity: 50%;
  }
  h2 {
    color: #49bbbd;
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
  }
  .card-body {
    padding: 6px 27px 27px 27px;
  }
  .time {
    padding: 9px 44px 0px 27px;
  }
  h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 23px;
    margin-bottom: 50px;
  }
}
.footer {
  padding: 150px;
  color: white;
  background-color: #252641;
  input {
    width: 400px;
    height: 60px;
    border-radius: 80px;
    border-width: 1px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #a3a3ac;
    border: #83839a solid;
    background-color: transparent;
    padding-left: 30px;
  }
  .btn {
    width: 179px;
    height: 60px;
    border-radius: 60px;
    background-color: #49bbbd;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 16px;
  }
  .footer-bottom {
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color: #b2b3cf;
    padding-top: 96px;
    h6 {
      font-size: 22px;
    }
  }
  .footer-bottom2 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color: #b2b3cf;
    padding-top: 6px;
    h6 {
      font-size: 22px;
    }
  }
}

@media (max-width: 430px) {
  .footer {
    padding: 20px;
    .logo img {
      width: 1%;
      height: 63px;

      .log {
        width: 48%;
      }
    }

    img {
      width: 0px;
    }
    .footer-bottom {
      flex-direction: column;
      padding-top: 0px;
      gap: 15px !important;
    }
    .btn {
      margin-top: 27px;
    }
  }
  .marketing-articles {
    margin: 20px;
    .col-3 {
      width: 100%;
    }
    .row {
      gap: 46px;
      flex-direction: row;
    }
    .card {
      width: 100%;
      height: 100%;
    }
    .con {
      margin: 20px;
    }
    h3 {
      margin-top: 24px;
      margin-bottom: 23px;
      margin-left: 5px;
      font-size: 24px;
    }
    h4 {
      margin-top: 28px;
      margin-bottom: 23px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 17px;
    }
  }
  .related-blog {
    padding: 20px;
    .container-fluid {
      flex-direction: column;
    }
    .card {
      width: 100%;
    }
    .con {
      gap: 31px;
    }
    .carousel-control-prev {
      position: absolute;
      top: 100%;
      left: 55%;
    }
  }
  .landing-page {
    .header {
      padding: 20px;
      .row {
        flex-direction: column;
      }
      .col-6 {
        width: 100%;
        img {
          width: 100%;
        }
        button {
          margin-bottom: 14px;
          margin-left: 73px;
        }
        p {
          margin-bottom: 13px;
        }
      }
    }
  }
  .blog-list {
    margin: 20px;
    .row {
      flex-direction: column;
      gap: 20px;
    }
  }
}
