.landing-page {
  ul {
    gap: 80px;
  }
  .navbar {
    margin: 0px 18px 0px 18px;
  }
}
.what-is-totc {
  margin: 90px;
  h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 2%;
    margin-bottom: 70px;
    margin-left: 28px;
  }
  h4 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    color: #49bbbd;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #ffffff;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #696984;
    line-height: 180%;
  }
  button {
    width: 283px;
    height: 80px;
    opacity: 1;
    border-radius: 80px;
    border-width: 1px;
    color: #ffffff;
    background-color: transparent;
    border: solid white;
    align-self: center;
    font-size: 22px;
    font-weight: 500;
  }
  button:hover {
    background-color: #23bdeee5;
    border: none;
  }
  .col1 {
    height: 415px;
    position: relative;
    background-size: cover;
    background-image: url("images/5abcf77024978c219bf2223fc9e32ec5fae8375f.png");
    background-repeat: no-repeat;
  }
  .col2 {
    position: relative;
    background-size: cover;
    background-image: url("images/59e91cde877aacb096082025aaa7528e15f2789e.png");
    background-repeat: no-repeat;
  }
  .col3 {
    position: relative;
    background-size: cover;
    background-image: url("images/a6a75cf5ca47b6a4fceb75f355da0105034713c7.png");
    background-repeat: no-repeat;
  }
  .overlay {
    position: absolute;
    opacity: 60%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0;
    width: 100%;
    border-radius: 16px;
    z-index: 1;
  }

  .instructors {
    align-self: center;
    margin-right: 33px;
    z-index: 3;
    margin-left: 30px;
    text-align: start;
    gap: 34px;

    h1 {
      width: 91px;
      height: 81px;
      color: white;
      background-color: #49bbbd;
      opacity: 1;
      border-radius: 10px;
      place-content: center;
      text-align: center;
    }
    h6 {
      font-family: Poppins;
      font-weight: 700;
      font-size: 28px;
      color: white;
      line-height: 100%;
      letter-spacing: 0%;
    }
    p {
      font-family: Poppins;
      font-weight: 500;
      font-size: 20px;
      color: white;
      line-height: 252%;
      letter-spacing: 2%;
    }
  }
  .col-4 {
    width: 509px;
    height: 500px;

    border-radius: 20px;
  }
  img {
    width: 478px;
    height: 500px;

    border-radius: 20px;
  }
  .row {
    gap: 70px;
    justify-content: center;
  }
}
.check-out {
  margin: 120px 100px 120px 100px;

  input {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    color: #9d9b9b;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .form-check {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    color: #9d9b9b;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .btn {
    width: 100%;
    height: 63px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;

    color: white;
    background-color: #49bbbd;
    opacity: 1;
    border-radius: 12px;
  }
  .logos {
    gap: 38px;
    i {
      font-size: 70px;
      height: 92px;
      top: 382px;
      left: 691px;
      margin-bottom: 34px;
      opacity: 1;
      border-radius: 15px;
      border-width: 1px;
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .col-6 {
    box-shadow: 0px 0px 18px -4px rgb(13 13 13 / 20%);
    border-radius: 15px;
    width: 55%;
    padding: 50px;
    p {
      font-family: Poppins;
      font-weight: 600;
      font-size: 18px;
      color: #5b5b5b;

      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  .date {
    input {
      width: 367px;
    }
  }
  .col-5 {
    box-shadow: 0px 0px 18px -4px rgb(13 13 13 / 20%);
    border-radius: 15px;
    height: 100%;
    padding: 50px;
    background-color: #ebf5ff;
    h1 {
      font-family: Poppins;
      font-weight: 400;
      font-size: 24px;

      letter-spacing: 0%;
    }
    h6 {
      font-family: Poppins;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;

      letter-spacing: 2%;
    }
    h4 {
      font-family: Poppins;
      font-weight: 400;
      font-style: Regular;
      font-size: 24px;

      letter-spacing: 2%;
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      color: #5b5b5b;

      letter-spacing: 2%;
    }
    h5 {
      font-family: Poppins;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 20px;
      color: #5b5b5b;

      letter-spacing: 2%;
    }
    h3 {
      font-family: Poppins;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 20px;

      letter-spacing: 2%;
    }
  }
}
.footer {
  padding: 150px;
  color: white;
  background-color: #252641;
  input {
    width: 400px;
    height: 60px;
    border-radius: 80px;
    border-width: 1px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #a3a3ac;
    border: #83839a solid;
    background-color: transparent;
    padding-left: 30px;
  }
  .btn {
    width: 179px;
    height: 60px;
    border-radius: 60px;
    background-color: #49bbbd;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 16px;
  }
  .footer-bottom {
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color: #b2b3cf;
    padding-top: 96px;
    h6 {
      font-size: 22px;
    }
  }
  .footer-bottom2 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color: #b2b3cf;
    padding-top: 6px;
    h6 {
      font-size: 22px;
    }
  }
}
@media (max-width: 430px) {
  .check-out {
    margin: 20px;
    .row {
      flex-direction: column;
    }
    .col-6 {
      width: 100%;
      padding: 13px;
      img {
        width: 62px;
      }
      .date {
        flex-direction: column;
        gap: 0px !important;
      }
    }
    .col-5 {
      width: 100%;
    }
  }
  .footer {
    .logo img {
      width: 1%;
      height: 63px;

      .log {
        width: 48%;
      }
    }
    padding: 20px;
    img {
      width: 0px;
    }
    .footer-bottom {
      flex-direction: column;
      padding-top: 0px;
      gap: 15px !important;
    }
    .btn {
      margin-top: 27px;
    }
  }
  .deals {
    .what-is-totc {
      margin: 20px;
      h2 {
        margin-bottom: 30px;
        margin-left: 0px;
        margin-top: 20px;
        font-size: 21px;
      }
      .row {
        gap: 17px;
      }
      h4 {
        margin-top: 33px;
        font-size: 17px;
      }
      .instructors {
        gap: 0px;
        margin: 10px;
      }
    }
  }
}
