.landing-page {
  ul {
    gap: 80px;
  }
  .navbar {
    margin: 0px 18px 0px 18px;
  }
  .header {
    margin: 77px 77px 114px 114px;
    .card-body {
      h3 {
        font-family: Poppins;
        font-weight: 700;
        font-size: 18px;
        color: #49bbbd;
        line-height: 32px;
        letter-spacing: 0.2px;
        vertical-align: middle;
        margin-bottom: 20px;
      }
      i {
        font-size: 25px;
        color: #909394;
      }
      p {
        font-family: poppins;
        font-weight: 400;
        font-size: 18px;

        line-height: 39px;
        letter-spacing: 0px;
        vertical-align: middle;
      }
      .card-title {
        font-family: Poppins;
        font-weight: 700;
        font-size: 48px;
        color: black;
        line-height: 56px;
        letter-spacing: -1px;
        vertical-align: middle;
        margin-bottom: 30px;
      }
      span {
        font-family: Poppins;
        font-weight: 800;
        font-size: 12px;
        color: black;
        line-height: 100%;
        letter-spacing: 2.5px;
        vertical-align: middle;
        text-transform: uppercase;
      }
      .btn {
        width: 306px;
        height: 64px;
        opacity: 1;
        font-family: poppins;
        font-weight: 700;
        font-size: 18px;
        color: #49bbbd;
        line-height: 32px;
        letter-spacing: 0.2px;
        text-align: center;
        vertical-align: middle;
        border-radius: 16px;
        margin-left: 44px;
      }
      .btn:hover {
        background-color: #49bbbd;
        color: white;
      }
      .free {
        margin-top: 110px;
      }
      .editor {
        margin-top: 48px;
      }
    }
  }
  h1 {
    font-family: Poppins;
    font-weight: 800;
    font-size: 64px;
    color: #49bbbd;
    line-height: 100%;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: middle;
    margin: 109px;
  }
  .card {
    box-shadow: 0px 0px 51px -1px rgba(173, 173, 173, 0.2);
    border-radius: 20px;
  }
  .card:hover {
    box-shadow: 0px 0px 46px 9px rgba(99, 95, 95, 0.2);
    border-radius: 20px;
    i {
      color: #fdcb6e;
    }
  }
  .best {
    border-radius: 30px;
    width: 90px;
    height: 32px;
    font-family: Inter;
    font-weight: 800;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2.5px;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
  }
}
.online-coaching {
  color: white;
  border-radius: 37px;
  background-color: #252641;
  margin: 120px 190px 120px 190px;
  .btn {
    width: 236px;
    height: 63px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #49bbbd;
    color: white;
    opacity: 1;
    border-radius: 12px;
    padding-top: 25px;
    margin-top: 73px;
  }
  .card-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 30px;
  }
  .card-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 2%;
    text-align: center;
    color: white;
  }
  .card-body {
    border-radius: 37px;
    background-color: #252641;
    padding: 70px 58px 70px 58px;
  }
}
.lessons {
  margin: 77px 77px 114px 114px;
  img {
    height: 23px;
    width: 23px;
  }
  h5 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 40px;
  }
  h6 {
    color: #2d3436;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
  }
  hr {
    margin-top: -14px;
  }
  .card {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: #696984;
    line-height: 180%;
    letter-spacing: 2%;
  }
}
.students-review {
  background-color: #ebf5ff;
  padding: 90px 121px 90px 121px;
  .card-img-top {
    width: 118px;
    height: 118px;
    align-self: center;
    border-radius: 6px;
  }
  h3 {
    margin-bottom: 30px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .card {
    height: 370px;

    border-radius: 20px;
    margin: 18px;
    padding-top: 35px;
    opacity: 1;
    border-radius: 20px;
  }
  .card-body {
    text-align: center;
    padding: 29px;
  }
  .carousel-control-prev {
    left: -125px;
    margin-left: 27px;
  }

  .carousel-control-next {
    right: -125px;
    margin-right: 27px;
  }

  .card-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 19px;
    margin-top: 20px;
  }
  .card-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    color: #696984;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: center;
  }
}
.app {
  .card-body {
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 57px 71px 57px;
  }
  .btns {
    gap: 22px;
  }
  .btn1 {
    width: 236px;
    height: 63px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #29b9e7;
    color: white;
    opacity: 1;
    border-radius: 12px;
    padding-top: 25px;
    margin-top: 73px;
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  .btn2 {
    width: 236px;
    height: 63px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #49bbbd;
    color: white;
    opacity: 1;
    border-radius: 12px;
    padding-top: 25px;
    margin-top: 73px;
    display: flex;
    gap: 15px;
    justify-content: center;
  }
}
.role {
  padding: 90px 121px 90px 121px;
  .card-title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 26px;

    line-height: 180%;
    letter-spacing: 0%;
  }
  .card-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    color: #696984;
    line-height: 180%;
    letter-spacing: 2%;
  }
  .btn {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0%;
    width: 254px;
    height: 63px;
    color: white;
    background-color: #49bbbd;
    border-radius: 12px;
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    margin-bottom: 23px;
  }
  .card {
    box-shadow: 0px 0px 20px 1px rgba(255 110 182 / 20%);
    border-radius: 20px;
    width: 786px;
    height: 762px;

    opacity: 1;
  }
  .card-img-top {
    padding: 34px 33px 14px 33px;
  }
  .card-body {
    padding: 30px;
  }
  .col-6 {
    width: 48%;
  }
  .row {
    gap: 67px;
  }
}
.footer {
  padding: 150px;
  color: white;
  background-color: #252641;
  input {
    width: 400px;
    height: 60px;
    border-radius: 80px;
    border-width: 1px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #a3a3ac;
    border: #83839a solid;
    background-color: transparent;
    padding-left: 30px;
  }
  .btn {
    width: 179px;
    height: 60px;
    border-radius: 60px;
    background-color: #49bbbd;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 16px;
  }
  .footer-bottom {
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color: #b2b3cf;
    padding-top: 96px;
    h6 {
      font-size: 22px;
    }
  }
  .footer-bottom2 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color: #b2b3cf;
    padding-top: 6px;
    h6 {
      font-size: 22px;
    }
  }
}

@media (max-width: 430px) {
  .role {
    padding: 0px;
    .col-6 {
      width: 100%;
    }
    .row {
      gap: 46px;
      flex-direction: row;
    }
    .card {
      width: 100%;
      height: 100%;
    }
    .con {
      margin: 20px;
    }
  }
  .app {
    padding: 0;
    margin: 20px;
    .online-coaching {
      margin: 0;
    }
    .card-body {
      flex-direction: column;
    }
    .btn2 {
      margin-top: 24px;
      margin-left: 10px;
    }
    .btn1 {
      margin-top: 24px;
      margin-left: 10px;
    }
    .btns {
      flex-direction: column;
    }
    .card-title {
      margin-top: 28px;
      margin-bottom: 0px;
    }
  }
  .footer {
    padding: 20px;
    img {
      width: 0px;
    }
    .footer-bottom {
      flex-direction: column;
      padding-top: 0px;
      gap: 15px !important;
    }
  }
  .landing-page {
    .header {
      margin: 20px !important;
      .row {
        flex-direction: column;
      }
      .col-4 {
        width: 100%;
      }
      .card-body {
        .free {
          margin-top: 15px;
        }
        .btn {
          margin-left: 16px;
        }
      }
      h1 {
        margin: 0px;
        margin-bottom: 24px;
      }
    }
  }
  .online-coaching {
    margin: 20px;
    .card-body {
      padding: 45px;
    }
  }
  .lessons {
    margin: 20px;
    h5 {
      margin-top: 45px;
      margin-bottom: 0px;
    }
  }
  .students-review {
    padding: 20px;
    .container-fluid {
      flex-direction: column;
    }
    .carousel-control-prev {
      left: -35px;
    }
    .carousel-control-next {
      right: -35px;
    }
  }
}
