.landing-page {
  ul {
    gap: 80px;
  }
  .navbar {
    margin: 0px 18px 0px 18px;
  }
  .header {
    padding: 100px;
    position: relative;
    background-image: url("images/7a80a7af42c44b95173f6bb18529bebd58808a65.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: 1;

    input {
      width: 100%;
      height: 60px;
      border-radius: 10px;
      opacity: 1;
      font-family: Poppins;
      font-weight: 400;
      font-size: 20px;
      color: #83839a;
      line-height: 100%;
      letter-spacing: 4%;
    }
    button {
      width: 100%;
      height: 51px;
      border-radius: 10px;
      color: #252641;
      opacity: 1;
      font-family: Poppins;
      font-weight: 500;
      font-size: 24px;
      background-color: white;
      line-height: 100%;
      letter-spacing: 4%;
      text-align: center;
      border: none;
    }
    .btn1 {
      position: absolute;
      width: 184px;
      height: 51px;
      top: 105px;
      left: 1404.25px;
      border-radius: 8px;
      color: white;
      background-color: #49bbbd;
    }
    .drop-down {
      border-radius: 3px;
      opacity: 1;
      gap: 43px;
      margin-top: 17px;
    }
    .overlay {
      position: absolute;
      opacity: 60%;
      background: #49bbbd;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.footer {
  padding: 150px;
  color: white;
  background-color: #252641;
  input {
    width: 400px;
    height: 60px;
    border-radius: 80px;
    border-width: 1px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #a3a3ac;
    border: #83839a solid;
    background-color: transparent;
    padding-left: 30px;
  }
  .btn {
    width: 179px;
    height: 60px;
    border-radius: 60px;
    background-color: #49bbbd;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 16px;
  }
  .footer-bottom {
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color: #b2b3cf;
    padding-top: 96px;
    h6 {
      font-size: 22px;
    }
  }
  .footer-bottom2 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color: #b2b3cf;
    padding-top: 6px;
    h6 {
      font-size: 22px;
    }
  }
}
.what-is-totc {
  margin: 90px;
  h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 2%;
    margin-bottom: 70px;
    margin-left: 28px;
  }
  h4 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    color: #49bbbd;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #ffffff;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #696984;
    line-height: 180%;
  }
  button {
    width: 283px;
    height: 80px;
    opacity: 1;
    border-radius: 80px;
    border-width: 1px;
    color: #ffffff;
    background-color: transparent;
    border: solid white;
    align-self: center;
    font-size: 22px;
    font-weight: 500;
  }
  button:hover {
    background-color: #23bdeee5;
    border: none;
  }
  .col1 {
    height: 415px;
    position: relative;
    background-size: cover;
    background-image: url("images/5abcf77024978c219bf2223fc9e32ec5fae8375f.png");
    background-repeat: no-repeat;
  }
  .col2 {
    position: relative;
    background-size: cover;
    background-image: url("images/59e91cde877aacb096082025aaa7528e15f2789e.png");
    background-repeat: no-repeat;
  }
  .col3 {
    position: relative;
    background-size: cover;
    background-image: url("images/a6a75cf5ca47b6a4fceb75f355da0105034713c7.png");
    background-repeat: no-repeat;
  }
  .overlay {
    position: absolute;
    opacity: 60%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0;
    width: 100%;
    border-radius: 16px;
    z-index: 1;
  }

  .instructors {
    align-self: center;
    margin-right: 33px;
    z-index: 3;
    margin-left: 30px;
    text-align: start;
    gap: 34px;

    h1 {
      width: 91px;
      height: 81px;
      color: white;
      background-color: #49bbbd;
      opacity: 1;
      border-radius: 10px;
      place-content: center;
      text-align: center;
    }
    h6 {
      font-family: Poppins;
      font-weight: 700;
      font-size: 28px;
      color: white;
      line-height: 100%;
      letter-spacing: 0%;
    }
    p {
      font-family: Poppins;
      font-weight: 500;
      font-size: 20px;
      color: white;
      line-height: 252%;
      letter-spacing: 2%;
    }
  }
  .col-4 {
    width: 509px;
    height: 500px;

    border-radius: 20px;
  }
  img {
    width: 478px;
    height: 500px;

    border-radius: 20px;
  }
  .row {
    gap: 70px;
    justify-content: center;
  }
}
.choice {
  padding: 90px 114px 90px 114px;
  background-color: #ebf5ff;
  .card-img-top {
    width: 88%;
    align-self: center;
    padding-top: 18px;
  }
  .card {
    gap: 20px;
    box-shadow: 0px 0px 35px -1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  h4 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    color: #49bbbd;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
  }
  h6 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 2%;
    color: #696984;
  }
  .card-title {
    color: #252641;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 30px;
  }
  .card-text {
    color: #696984;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 2%;
    margin-bottom: 30px;
  }
  strike {
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
    text-decoration: line-through;
    color: #000000;
    opacity: 50%;
  }
  h2 {
    color: #49bbbd;
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
  }
  .card-body {
    padding: 6px 27px 27px 27px;
  }
  .time {
    padding: 9px 44px 0px 27px;
  }
  h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 23px;
    margin-bottom: 50px;
  }
}
.certificate {
  padding: 90px 114px 90px 114px;

  .card-img-top {
    width: 88%;
    align-self: center;
    padding-top: 18px;
  }
  .card {
    gap: 20px;
    box-shadow: 0px 0px 35px -1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  h4 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    color: #49bbbd;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
  }
  h6 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 2%;
    color: #696984;
  }
  .card-title {
    color: #252641;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 30px;
  }
  .card-text {
    color: #696984;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 2%;
    margin-bottom: 30px;
  }
  strike {
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
    text-decoration: line-through;
    color: #000000;
    opacity: 50%;
  }
  h2 {
    color: #49bbbd;
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
  }
  .card-body {
    padding: 6px 27px 27px 27px;
  }
  .time {
    padding: 9px 44px 0px 27px;
  }
  h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 23px;
    margin-bottom: 50px;
  }
  .col-3 {
    margin-bottom: 70px;
  }
}
.features {
  margin: 100px;
  margin-top: 0px;
  .head p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #696984;
    line-height: 180%;
    margin-bottom: 200px;
  }
  button {
    width: 309px;
    height: 63px;
    background-color: #49bbbd;
    color: white;
    opacity: 1;
    top: 2275px;
    left: 252px;
    border-radius: 12px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    border: none;
  }
  .col-5 {
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 9%;
    img {
      height: 23px;
      width: 23px;
    }
    h5 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 36px;
      text-align: center;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 40px;
    }
    h6 {
      color: #2d3436;
      font-family: Poppins;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0px;
      vertical-align: middle;
    }
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #696984;
    line-height: 180%;
  }
  .img img {
    width: 38px;
    height: 36px;
    margin-bottom: 25px;
    margin-right: 30px;
  }

  .feature-container {
    background-image: url("images/Group 67.png");

    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  .col-7::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    background: url("images/Ellipse 241.png") no-repeat;
    left: 302px;
    top: 25%;
  }
  .col-7 {
    position: relative;
    padding: 48px;
  }
  .col-7::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 100%;
    background: url("images/Ellipse 231.png") no-repeat;
    left: 32%;
    top: 26%;
  }
  .btn-present {
    background-color: #3465e1;
    color: white;
    width: 170px;
    height: 47px;
    border-radius: 50px;
    border: none;
    font-size: 23px;
    font-weight: 700;
    margin-left: 20px;
  }

  .btn-call {
    background-color: #e13468;
    color: white;
    width: 180px;
    height: 47px;
    border-radius: 50px;
    border: none;
    font-size: 23px;
    font-weight: 700;
  }
  h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #252641;
  }
  .container-fluid {
    background-color: #ebf5ff;
  }
}
.creator {
  margin: 135px 135px 115px 136px;
  .card {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    height: 293px;
    img {
      top: 10px;
    }
    .card-body {
      position: relative;
      bottom: 153px;
    }
  }
  .row {
    padding-top: 11%;
    gap: 24px;
  }
  h5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    color: #252641;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 13px;
  }
  p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    color: #696984;
    line-height: 180%;
    letter-spacing: 2%;
    padding: 6px;
  }
  h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 23px;
    margin-bottom: 50px;
  }
  h4 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    color: #49bbbd;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
  }
  .col-4 {
    width: 32%;
  }
}
.students-review {
  padding: 70px 139px 70px 139px;
  background-color: #ebf5ff;
  .col-6 {
    align-content: center;
  }
  .row {
    width: 1644px;
    height: 629px;
    border-radius: 40px;
    justify-self: center;
    background-color: white;
  }
  i {
    font-size: 38px;
    color: #49bbbd;
    margin-right: 25px;
  }
  h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    color: #252641;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 31px;
  }
  h3 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    color: #252641;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 19px;
  }
  p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    color: #696984;
    line-height: 180%;
    letter-spacing: 2%;
    margin-bottom: 31px;
  }
  .col-5 {
    padding-top: 37px;
    height: 530px;
    background-image:
      url("images/Ellipse 122.png"), url("images/Ellipse 121.png"),
      url("images/Ellipse 120.png");
    background-repeat: no-repeat;
    background-position:
      69% 3%,
      74% 98%,
      20% 99%;
    text-align: center;
    align-self: center;
  }
  h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 2%;
    padding-bottom: 70px;
  }
}
@media (max-width: 430px) {
  .footer {
    padding: 20px;
    .logo img {
      width: 1%;
      height: 63px;

      .log {
        width: 48%;
      }
    }

    img {
      width: 0px;
    }
    .footer-bottom {
      flex-direction: column;
      padding-top: 0px;
      gap: 15px !important;
    }
    .btn {
      margin-top: 27px;
    }
  }
  .landing-page {
    .header {
      padding: 20px;
      .drop-down {
        flex-direction: column;
        margin-top: 99px;
      }
      .btn1 {
        left: 123.25px;
      }
    }
  }
  .certificate {
    padding: 20px;
    margin: 20px;
    .col-3 {
      width: 100%;
    }
    .row {
      flex-direction: row;
    }
    .card {
      width: 100%;
      height: 100%;
    }
    .con {
      margin: 20px;
    }
    h3 {
      margin-top: 24px;
      margin-bottom: 23px;
      margin-left: 5px;
      font-size: 24px;
    }
    h4 {
      margin-top: 28px;
      margin-bottom: 23px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 17px;
    }
  }
  .choice {
    padding: 20px;
    .col-3 {
      width: 100%;
    }
    .row {
      gap: 46px;
      flex-direction: row;
    }
    .card {
      width: 100%;
      height: 100%;
    }
    .con {
      margin: 20px;
    }
    h3 {
      margin-top: 24px;
      margin-bottom: 23px;
      margin-left: 5px;
      font-size: 24px;
    }
    h4 {
      margin-top: 28px;
      margin-bottom: 23px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 17px;
    }
  }
  .creator {
    margin: 20px;
    .row {
      flex-direction: column;
      .col-4 {
        width: 100%;
        .card {
          height: 478px;
          .card-body {
            position: static;
          }
        }
      }
    }
    h3 {
      margin-top: 24px;
      margin-bottom: 23px;
      margin-left: 5px;
      font-size: 24px;
    }
    h4 {
      margin-top: 28px;
      margin-bottom: 23px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 17px;
    }
  }
  .students-review {
    padding: 20px;
    .col-5 {
      width: 100%;
      background-position:
        56% 3%,
        59% 87%,
        0% 0%;
      img {
        width: 25%;
      }
    }
    .col-6 {
      width: 63%;
    }
    .col-1 {
      width: 63%;
    }
  }
  .features {
    margin: 20px;
    .row {
      flex-direction: column;
    }
  }
}
